.link {
  text-decoration: none;
  color: inherit;
}

.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  width: 100%;
}

.card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas: "card";
  place-items: center;
  aspect-ratio: 4/5;
  background: #101012;
  border: 1px solid #27272a;
  border-radius: 1rem;
  isolation: isolate;
  transition: border-color 200ms cubic-bezier(0.5, 1, 0.89, 1);
  user-select: none;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at bottom left,
    transparent 55%,
    #101012
  );
  pointer-events: none;
  box-shadow: #09090b -0.5rem 0.5rem 2.5rem inset;
  transition: opacity 900ms cubic-bezier(0.5, 1, 0.89, 1);
  z-index: 1;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1;
  background: radial-gradient(circle, #09090b, transparent 65%);
  opacity: 0;
  transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
  z-index: 1;
}

.card > * {
  grid-area: card;
}

.canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.icon {
  position: relative;
  z-index: 2;
  width: 30%;
  height: auto;
  color: #52525b;
  transition: 300ms cubic-bezier(0.5, 1, 0.89, 1);
  transition-property: color, transform;
}

.icon svg {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: #52525b;
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0;
  transition: 300ms cubic-bezier(0.5, 1, 0.89, 1);
  transition-property: opacity, color;
}

.card:hover,
.card:focus-within {
  border-color: var(--active-color, #e3e3e3);
  transition: border-color 800ms cubic-bezier(0.45, 0, 0.55, 1);
}

.card:hover .icon,
.card:focus-within .icon {
  color: var(--active-color, #e3e3e3);
  transform: scale(1.1);
  transition: 300ms cubic-bezier(0.45, 0, 0.55, 1);
}

.card:hover .title,
.card:focus-within .title {
  opacity: 1;
  color: var(--active-color, #e3e3e3);
}

.card:hover::before,
.card:focus-within::before {
  opacity: 0;
}

.card:hover::after,
.card:focus-within::after {
  opacity: 1;
}